fastapi>=0.115.0
uvicorn[standard]>=0.34.0
sqlalchemy>=2.0.40
alembic>=1.15.0
psycopg[binary]>=3.2.6
pydantic>=2.11.0
pydantic-settings>=2.9.0
python-jose[cryptography]>=3.4.0
passlib>=1.7.4
redis>=5.2.0
httpx>=0.28.0
requests>=2.32.0
python-multipart>=0.0.20
zibal>=1.0.0
pinecone>=5.0.0
bale-sdk>=0.1.0
instagrapi==2.18.16
